/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text-1:#FFFFFF;
	--color-text-2: #000000;
	--color-text-3: #686868; 
	--color-background-1: #181818;
	--color-background-2: #FFFFFF;
}





/****************/
/* JOUW STYLING */
/****************/

/* OVERALL */
/***********/

* {
	margin: 0;
}

body {
	background-color: #181818;
	color: #FFFFFF;
}


a {
	text-decoration: none;
	color: #FFFFFF;
}

ul {
	padding: 0;
}

nav ul li {
	list-style-type: none;
}

img {
	max-width: 100%;
}

video {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

/*TYPOGRAFIE*/
/***********/

html {
	font-family: "Saira", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

h1, h2, h3 {
	font-weight: 600;
	font-variation-settings:
	  "wdth" 50;
}

/* HEADER */
/**********/

header {
	background-color: var(--color-background-1);
	position: sticky;
	top: 0;
	height: 2.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em;
	z-index: 1;
}

header nav {
	order: 1;
}

header a {
	order: 3;
	color: var(--color-text-1);
}

h1 {
	order: 2;
}

/* BODY */
/********/

/*HOME PAGINA*/ 

/*eerste sectio: Video*/
.home section:nth-of-type(1) h2 {
	font-size: 1em;
}

.home section:nth-of-type(1) p {
	font-size: 1.6em;
}

.home section:nth-of-type(1) {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr)
}

.home section:nth-of-type(1) video {
	grid-row: 1 / -1;
	grid-column: 1 / -1;
	z-index: -1;
}

.home section:nth-of-type(1) div {
	grid-row: 5 / -1;
	grid-column: 2 / -2;
	text-align: center;
	flex-wrap: nowrap;
}

.home section:nth-of-type(1) ul {
	grid-column: 1 / -1;
	grid-row: 6;
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 1.5em 0 0 0;
	gap: 1em;
}

.home section:nth-of-type(1) button {
	padding: .5em;
	border-radius: 30px;
	border-color: #FFFFFF;
	background-color: transparent;
}

/*tweede section: Carousel*/
.home section:nth-of-type(2) {
	background-color: #FFFFFF;
}

.home section:nth-of-type(2) img {
	order: 1;
}

.home section:nth-of-type(2) h2 {
	order: 2;
	align-self: flex-start;
	color: #111;
	font-size: 1.6em;
	padding: .5em 0 0 0;
}

.home section:nth-of-type(2) p {
	order: 3;
	align-self: flex-start;
	padding: .5em 0 1.5em 0;
	color: #111;
}

.home section:nth-of-type(2) a {
	order: 4;
	align-self: flex-start;
	color: #000000;
}

.home section:nth-of-type(2) svg {
	order: 5;
}

/*/*Carousel: eerste article*/
.home section:nth-of-type(2) > article:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	padding: 1.5em 1.5em 4em;
}

.home section:nth-of-type(2) > article:nth-of-type(1) div {
	padding: 1.5em;
	display: flex;
	align-items: center;
	gap: 1em;
}

/*/*Carousel: vierde article*/
.home section:nth-of-type(2) > article:nth-of-type(2) { 
	display: flex;
	justify-content: space-between;
	padding: 1.5em 1.5em 4em;
}

.home section:nth-of-type(2) > article:nth-of-type(4) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.home section:nth-of-type(2) ul {
	display: flex;
	flex-direction: row;
	gap: .5em;
}

.home section:nth-of-type(2) ul button {
	padding: .3em;
	border-radius: 30px;
	border-color: #000000;
	background-color: #000000;
}

.home section:nth-of-type(2) li {
	list-style-type: none;
}

/*eerste article: Gift Guide Ferrari*/
.home article:nth-of-type(1) {
	position: relative;
}

.home article:nth-of-type(1) div {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 1em;
}
.home article:nth-of-type(1) img {
	width: 100%;
}

.home > article:nth-of-type(1) h2 {
	font-size: 1em;
}

.home > article:nth-of-type(1) p {
	font-size: 1.6em;
	font-weight: bold;
}

.home article:nth-of-type(1) a {
	align-self: center;
}


/*tweede article: Live your dream*/
.home article:nth-of-type(2) {
	position: relative;
}

.home article:nth-of-type(2) div {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 1em;
}
.home article:nth-of-type(2) img {
	width: 100%;
}

.home > article:nth-of-type(2) h2 {
	font-size: 1em;
}

.home > article:nth-of-type(2) p {
	font-size: 1.6em;
	font-weight: bold;
}

/*derde article: Ferrari F80*/
.home article:nth-of-type(3) {
	position: relative;
}

.home article:nth-of-type(3) div {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 1em;
}
.home article:nth-of-type(3) img {
	width: 100%;
}

.home > article:nth-of-type(3) h2 {
	font-size: 1em;
}

.home > article:nth-of-type(3) p {
	font-size: 1.6em;
	font-weight: bold;
}

/*vierde article: Celebrate the GTO*/
.home article:nth-of-type(4) {
	position: relative;
}

.home article:nth-of-type(4) div {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 1em;
}

.home article:nth-of-type(4) img {
	width: 100%;
}

.home > article:nth-of-type(4) h2 {
	font-size: 1em;
}

.home > article:nth-of-type(4) p {
	font-size: 1.6em;
	font-weight: bold;
}

/*vijfde article: Pre-owned*/
.home article:nth-of-type(5) {
	position: relative;
}

.home article:nth-of-type(5) div {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 1em;
}
.home article:nth-of-type(5) img {
	width: 100%;
}

.home > article:nth-of-type(5) h2 {
	font-size: 1em;
}

.home > article:nth-of-type(5) p {
	font-size: 1.6em;
	font-weight: bold;
}

/*zesde article: Past models*/
.home article:nth-of-type(6) {
	position: relative;
}

.home article:nth-of-type(6) div {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 1em;
}
.home article:nth-of-type(6) img {
	width: 100%;
}

.home > article:nth-of-type(6) h2 {
	font-size: 1em;
}

.home > article:nth-of-type(6) p {
	font-size: 1.6em;
	font-weight: bold;
}


/* DETAIL PAGINA*/ 
.detail {
	background-color: #000000;
}

.detail span {
	display: inline-block;
	width: 3em;
	height: 0.1em;
	background: #DA291C;
}

.detail h3 span {
	display: inline-block;
	width: 5em;
	height: 0.1em;
	background: #DA291C;
}

/*eerste blockquote*/
.detail blockquote:nth-of-type(1) {
	display: flex;
	text-align: center;
	padding: 4em 0;
	margin: 1em;
	font-size: 1.1em;
}

/*derde section: History*/
.detail section:nth-of-type(3) {
	display: flex;
	flex-wrap: wrap;
}

.detail section:nth-of-type(3) h2 {
	color: #DA291C;
	margin: 1em;
}

.detail section:nth-of-type(3) button {
	text-align: start;
	border: none;
	padding: 2em 4em;
	margin: 0 1em;
	color: #000000;
	font-size: 1em;
	font-weight: bold;
	background-color: #FFFFFF;
	width: 100%;
	border-right: 3px solid #DA291C;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*vierde section: Perfomance*/
.detail section:nth-of-type(4) h2 {
	color: #DA291C;
	margin: 1em;
}

.detail section:nth-of-type(4) img {
	padding: 1em;
}

.detail section:nth-of-type(4) article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	padding: 1em;
}

.detail section:nth-of-type(4) button {
	border: none;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	padding: 1em;
	display: flex;
	justify-content: center;
}

.detail section:nth-of-type(4) h3 {
	font-size: 1.6em;
	text-align: center;
}

.detail section:nth-of-type(4) p {
	text-align: center;
}

/*vijde section: Design*/
.detail section:nth-of-type(5) h2 {
	color: #DA291C;
	margin: 1em;
}

.detail section:nth-of-type(5) img {
	padding: 1em;
}

.detail section:nth-of-type(5) article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	padding: 1em;
}

.detail section:nth-of-type(5) button {
	border: none;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	padding: 1em;
	display: flex;
	justify-content: center;
}

.detail section:nth-of-type(5) h3 {
	font-size: 1.6em;
	text-align: center;
}

.detail section:nth-of-type(5) p {
	text-align: center;
}

/*zesde section: Technology*/
.detail section:nth-of-type(6) h2 {
	color: #DA291C;
	margin: 1em;
}

.detail section:nth-of-type(6) img {
	padding: 1em;
}

.detail section:nth-of-type(6) article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	padding: 1em;
}

.detail section:nth-of-type(6) button {
	border: none;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	padding: 1em;
	display: flex;
	justify-content: center;
}

.detail section:nth-of-type(6) h3 {
	font-size: 1.6em;
	text-align: center;
}

.detail section:nth-of-type(6) p {
	text-align: center;
}

/*zevende section: Technical details*/
.detail section:nth-of-type(7) h2 {
	color: #DA291C;
	margin: 1em;
}

.detail section:nth-of-type(7) img {
	padding: 1em;
}

.detail section:nth-of-type(7) ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
	padding: 0;	
	margin: 1em;
}

.detail section:nth-of-type(7) ul h3 {
	font-size: 2em;
}

/*achtste section: Hamburger menu*/
.detail section:nth-of-type(8) {
	background-color: #303030;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
}

.detail section:nth-of-type(8) > button {
	margin: .5em;
	border-radius: 30px;
	background-color: #303030;
	border: none;
}

.detail section:nth-of-type(8) div {
	display: flex;
	flex-direction: column;
}

.detail section:nth-of-type(8) div > button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	margin: 1em 0 0 0;
	background-color: #303030;
	color: #FFFFFF;
	border: none;
}

.detail section:nth-of-type(8) div span {
	display: inline-block;
	width: 22em;
	background: #FFFFFF;
}

.detail section:nth-of-type(8) div p {
	font-size: 1em;
	font-weight: bold;
}

/*tweede blockqoute*/
.detail blockquote:nth-of-type(2) {
	display: flex;
	text-align: center;
	padding: 4em 0;
	margin: 1em;
	font-size: 1.1em;
}

/*negende section: Media gallery*/
.detail section:nth-of-type(9) h2 {
	color: #DA291C;
	margin: 1em;
}

.detail section:nth-of-type(9) h3 {
	color: #DA291C;
	margin: 1em;
	text-align: center;
	font-size: 1.5em;
}

.detail section:nth-of-type(9) img {
	padding: 1em;
}

.detail section:nth-of-type(9) p {
	position: absolute;
	bottom: 2em;
	left: 2em;
}

.detail section:nth-of-type(9) button {
	border-color: #FFFFFF;
	background-color: #000000;
	border-radius: 30px;
	padding: .5em;
}

.detail section:nth-of-type(9) ul {
	display: flex;
	justify-content: center;
	gap: 1em;
}

.detail section:nth-of-type(9) li {
	list-style-type: none;
}

/*eerste article: Ferrari GTO*/
.detail article:nth-of-type(1) {
	position: relative;
}

.detail article:nth-of-type(1) div {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 1em;
}

.detail > article:nth-of-type(1) h2 {
	font-size: 1em;
}

.detail > article:nth-of-type(1) p {
	font-size: 1.6em;
	font-weight: bold;
}

.detail > article:nth-of-type(1) img {
	width: 100%;
}

/*tweede article: Ferrari F50*/
.detail article:nth-of-type(2) {
	position: relative;
}

.detail article:nth-of-type(2) div {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 1em;
}

.detail > article:nth-of-type(2) h2 {
	font-size: 1em;
}

.detail > article:nth-of-type(2) p {
	font-size: 1.6em;
	font-weight: bold;
}

.detail > article:nth-of-type(2) img {
	width: 100%;
}

/* FOOTER */
/**********/

footer {
	background-color: #181818;
	color: #FFFFFF;
}

/*section footer*/
footer section {
	background-color: #303030;
	display: flex; 
	flex-direction: column;
	padding: 2em 1em;
}

footer section h2 {
	align-self: center;
	padding: 1em;
}

footer section p {
	align-self: center;
	text-align: center;
	padding: .5em;
}

footer section button {
	align-self: stretch;
	padding: 1.5em;
	background-color: #DC3326; 
	border: none; 
	margin: 1em 1em 1.5em 1em;
	color: #FFFFFF;
}

/*eerste div: Hamburger menu 1*/
footer > div:nth-of-type(1) {
	padding: 1em;
	display: flex;
	flex-direction: column;
	background-color: var(--color-background-1);
}

footer div:nth-of-type(1) button {
	background-color: var(--color-background-1);
	color: var(--color-text-1);
	border: none;
	margin: 1em;
	display: flex;
	justify-content: space-between;
}

/*tweede div: Hamburger menu 2*/
footer > div:nth-of-type(2) {
	padding: 1em;
	display: flex;
	flex-direction: column;
	background-color: var(--color-background-1);
}

footer div:nth-of-type(2) button {
	background-color: var(--color-background-1); 
	color: var(--color-text-1);
	border: none;
	margin: 1em;
	display: flex;
	justify-content: space-between;
}

footer div:nth-of-type(2) button div {
	display: flex;
	gap: 1em;
	align-items: center;
}

/*derde div: Paraghaphs*/
footer div:nth-of-type(3) { 
	color: var(--color-text-3); 
	background-color: var(--color-background-1);
	text-align: center;
	font-size: .4em;
	padding: 4em;
}

footer div:nth-of-type(3) p {
	padding: 1em;
}

/*vierde div: Ul list*/
footer div:nth-of-type(4) { 
	background-color: #303030;
	padding: 1em;
}

footer div:nth-of-type(4) a {
	display: flex;
	justify-content: center;
	font-size: .75em;
}

footer div:nth-of-type(4) nav ul {
	display: flex;
	list-style: none;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1em;
}

footer div:nth-of-type(4) nav li {
	padding: 1em;
	text-align: center;
	font-size: .6em;
}

/*vijfde div: afbeelding*/
footer div:nth-of-type(5) {
	display: flex;
	justify-content: center;
	padding: .5em;
	background-color: var(--color-background-1);
}

footer div:nth-of-type(5) img {
	max-height: 1.75em;
	margin: 0 .6em;
}

